    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-info fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        About
                    </h1>

                    <h2 class="splash-subhead">
Standalone (no jQuery) Headerless pUSHstate + aJAX
                    </h2>

                    <p>
                        <a href="https://github.com/Team-Pr0xy/shushjax" class="pure-button pure-button-primary pure-button-xlarge">GitHub Project</a>
                    </p>
                </div>
            </div>
        </div>
        </div>
{% include release.html %}
<div class="pure-g-r content-ribbon">
            <div class="pure-u-3-4">
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">Name</h4>
                    <h3>Standalone (no jQuery) Headerless pUSHstate + aJAX</h3>
                    <p>
                        shushjax is an abbreviation of its main features:<br>
                        <strong>S</strong>tandalone<br>
                        <strong>H</strong>eaderless<br>
                        p<strong>USH</strong>state<br>
                        a<strong>JAX</strong><br>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">lnbslnb</h4>
                    <h3>lsgblsjg</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">lnbslnb</h4>
                    <h3>lsgblsjg</h3>
                    <p>
                        
                    </p>
                </div>
</div>
<div class="pure-u-1-4"></div></div>
