<div class="content" id="content">

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-info fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        About
                    </h1>

                    <h2 class="splash-subhead">
Using shushjax is as simple as adding a javascript file to your site. For even more benefits, optionally use partial file support
                    </h2>

                    <!--<p>
                        <a href="https://github.com/Team-Pr0xy/shushjax" class="pure-button pure-button-primary pure-button-xlarge">GitHub Project</a>
                        <a href="https://github.com/Team-Pr0xy/shushjax/issues" class="pure-button pure-button-xlarge">Open Issues</a>
                        <a href="https://github.com/Team-Pr0xy/shushjax/pulls" class="pure-button pure-button-xlarge">Pull Requests</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>

</div>
