    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-info fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        About
                    </h1>

                    <h2 class="splash-subhead">
Standalone (no jQuery) Headerless pUSHstate + aJAX
                    </h2>

                    <p>
                        <a href="https://github.com/Team-Pr0xy/shushjax" class="pure-button pure-button-primary pure-button-xlarge">GitHub Project</a>
                    </p>
                </div>
            </div>
        </div>
        </div>
{% include release.html %}
<div class="pure-g-r content-ribbon">
            <div class="pure-u-3-4 link">
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">Name</h4>
                    <h3>Standalone (no jQuery) Headerless pUSHstate + aJAX</h3>
                    <p>
                        The name shushjax comes from an abbreviation of the main features:<br>
                        <strong>S</strong>tandalone<br>
                        <strong>H</strong>eaderless<br>
                        p<strong>USH</strong>state<br>
                        a<strong>JAX</strong><br>
                    </p>
                    <h4>Pronounciation</h4>
                    <p>
                        You say shushjax like shuhsh-jacks
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">Who</h4>
                    <h3>People</h3>
                    <p>
                        shushjax is developed by <a href="http://www.jchulce.com">JC Hulce</a> and is hosted by <a href="http://www.teampr0xy.net">Team Pr0xy</a>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead hash_anchor">Why</h4>
                    <h3>Driving forces</h3>
                    <p>
                        shushjax was designed to deliver the benefits of AJAX-style page loading, free from complicated frameworks. Compared to the original PJAX, shushjax offers additional flexibility, performance, and ease of implementation. No server header or special backend requirements means that shushjax can be used on static hosts and CDNs like GitHub pages and S3. No jQuery required means that the browser does not need to load and process tens of kilobytes of unused javascript, increasing performance
                    </p>
                </div>
</div>
<div class="pure-u-1-4"></div></div>
