<div class="content" id="content">

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-plus fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Benefits
                    </h1>

                    <h2 class="splash-subhead">
Using shushjax is as simple as adding a javascript file to your site. For even more benefits, optionally use partial file support
                    </h2>

                    <!--<p>
                        <a href="https://github.com/Team-Pr0xy/shushjax" class="pure-button pure-button-primary pure-button-xlarge">GitHub Project</a>
                        <a href="https://github.com/Team-Pr0xy/shushjax/issues" class="pure-button pure-button-xlarge">Open Issues</a>
                        <a href="https://github.com/Team-Pr0xy/shushjax/pulls" class="pure-button pure-button-xlarge">Pull Requests</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>
<div class="pure-g-r content-ribbon" id="load_time">
<div class="pure-u-2-3">
<h1>Dramatically reduce page load times</h1>
<p>shushjax uses the CSS, Javascript, webfonts, and other resources that your visitors already have loaded. The only server requests required when navigating to a different page are for the new content. Additionally, CSS and Javascript don't need to be re-processed, leading to a major performance boost on slow clients and mobile devices. </p>
</div>
<div class="pure-u-1-3">
<div class="l-box icon pure-hidden-phone pure-hidden-tablet">
                    <i class="fa fa-clock-o fa-15x icon"></i>
                </div>
</div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <h3>Normal Page Load</h3>
                    <p>
<button class="pure-button" style="background:orange;"><i class="fa fa-html5"></i> HTML</button><p></p><button class="pure-button" style="background:red;"><i class="fa fa-css3"></i> CSS</button><p></p><button class="pure-button" style="background:yellow;"><i class="fa fa-code"></i> JAVASCRIPT</button><p></p><button class="pure-button" style="background:green;"><i class="fa fa-font"></i> FONTS</button><p></p><button class="pure-button" style="background:blue;"><i class="fa fa-picture-o"></i> IMAGES</button>
                    </p>
                </div>                
            </div>

            <div class="pure-u-1-3">
                <div class="l-box">
                    <p class="icon" style="font-size:6em;font-weight:bold;">vs</p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <h3>shushjax</h3>
                    <p><button class="pure-button" style="background:orange;"><i class="fa fa-html5"></i> HTML</button></p>
                </div>
            </div>
        </div>
<div class="pure-g-r content-ribbon" id="dependencies">
<div class="pure-u-2-3">
<h1>No external dependencies</h1>
<p>Some other solutions rely on the jQuery library. This adds on a large bandwidth and processing burden, especially on mobile devices. We believe that a program designed to make things faster shouldn't depend on components that slow it down. shushjax is standalone, not relying on loading any other libraries. </p>
</div><div class="pure-u-1-3">
<div class="l-box icon pure-hidden-phone pure-hidden-tablet">
                    <i class="fa fa-ban fa-15x icon"></i>
                </div>
</div></div>
<div class="pure-g-r content-ribbon" id="backends">
<div class="pure-u-2-3">
<h1>No special backends required</h1>
<p>Originally, PJAX used a special request header to get partial content from the server. This meant that custom application code was required, which limited where PJAX could be used and caused caching problems. shushjax doesn't rely on special headers or dynamic server code. You can take the full power of shushjax just about anywhere, including static hosts like Amazon S3 and GitHub Pages. </p>
</div><div class="pure-u-1-3">
<div class="l-box icon pure-hidden-phone pure-hidden-tablet">
                    <i class="fa fa-cogs fa-15x icon"></i>
                </div></div>
</div>
</div>
