<div class="content" id="content">

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-arrow-right fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Evolution 
                    </h1>

                    <h2 class="splash-subhead">
shushjax is based on several similar libraries
                    </h2>

<!--                    <p>
                        <a href="usage.html" class="pure-button pure-button-primary pure-button-xlarge">Get Started</a>
                        <a href="https://github.com" class="pure-button pure-button-xlarge">GitHub Project</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>
        <!--<div class="l-box ribbon">
            <a href="#" class="pure-button pure-button-disabled pure-button-error pure-button-xlarge">Alpha</a>
            <h2>Warning: shushjax is currently at the alpha stage and is not reccommended for production use</h2>
        </div>-->
<div class="pure-g-r content-ribbon link">
            <div class="pure-u-3-4">
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_add_code">Original Inspiration</h4>

                    <h3><a href="https://github.com/defunkt/jquery-pjax" class="link">PJAX</a></h3>
                    <p>
Released in in February 2011 by <a href="https://github.com/defunkt" class="link">Chris Wanstrath (defunkt)</a>, <a href="https://github.com/defunkt/jquery-pjax" class="link">PJAX</a> introduced the world to the concept of injecting new content into existing pages. While this could already be done with some javascript frontend frameworks, they require a lot of implementation work and are geared more towards webapps, not sites. In addition, PJAX took advantage of the new pushstate history APIs to enable real permanlinks and history without ugly hacks. PJAX has grown to become one of the most starred repositories on GitHub, and is even <a href="https://github.com/blog/831-issues-2-0-the-next-generation" class="link">used on GitHub itself</a>. Despite this, PJAX is limited by its requirement for a special backend and use of jQuery. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_config_content">Ditching jQuery</h4>

                    <h3><a href="https://github.com/thybag/PJAX-Standalone" class="link">PJAX-Standalone</a></h3>
                    <p>
Loosely based on the original PJAX, <a href="https://github.com/thybag/PJAX-Standalone" class="link">PJAX-Standalone</a> by <a href="https://github.com/thybag" class="link">Carl Saggs (thybag)</a> is a lighter implementation that doesn't depend on jQuery. shushjax is almost entirely based on PJAX-standalone. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_use_partial">No more backend</h4>

                    <h3><a href="https://github.com/JoahG/pjax-fw" class="link">PJAX-FW</a></h3>
                    <p>
                        Inspired by PJAX, <a href="https://github.com/JoahG/pjax-fw" class="link">pjax-fw</a> by <a href="https://github.com/JoahG" class="link">Joah Gerstenberg (JoahG)</a> is a fully frontend framework. It is where the concept of shushjax originated, although none of its code was used. 
                    </p>
                </div>
                
            </div>

            <div class="pure-u-1-4">
            </div>
        </div>

        


</div>
