<div class="content" id="content">

    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-arrow-right fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Built on 
                    </h1>

                    <h2 class="splash-subhead">
Using shushjax is as simple as adding a javascript file to your site. For even more benefits, optionally use partial file support
                    </h2>

<!--                    <p>
                        <a href="usage.html" class="pure-button pure-button-primary pure-button-xlarge">Get Started</a>
                        <a href="https://github.com" class="pure-button pure-button-xlarge">GitHub Project</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>
        <!--<div class="l-box ribbon">
            <a href="#" class="pure-button pure-button-disabled pure-button-error pure-button-xlarge">Alpha</a>
            <h2>Warning: shushjax is currently at the alpha stage and is not reccommended for production use</h2>
        </div>-->
<div class="pure-g-r content-ribbon">
            <div class="pure-u-3-4">
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_add_code">Original Inspiration</h4>

                    <h3>PJAX</h3>
                    <p>
When he made the first commits in February 2011, Chris Wanstrath (defunkt) introduced
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_config_content">Ditching jQuery</h4>

                    <h3>PJAX-Standalone</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_use_partial">No more backend</h4>

                    <h3>PJAX-FW</h3>
                    <p>
                        Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
                    </p>
                </div>
                
            </div>

            <div class="pure-u-1-4">
            </div>
        </div>

        


</div>
