<div class="content" id="content">
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-list-ol fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Get started quickly
                    </h1>

                    <h2 class="splash-subhead">
Using shushjax can be as simple as adding a javascript file to your site. For even more benefits, optionally use partial file support
                    </h2>

<!--                    <p>
                        <a href="usage.html" class="pure-button pure-button-primary pure-button-xlarge">Get Started</a>
                        <a href="https://github.com" class="pure-button pure-button-xlarge">GitHub Project</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>
{% include release.html %}
<div class="pure-g-r content-ribbon">
            <div class="pure-u-3-4">
            <h2 id="quick">Quick Start</h2>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_before">Get ready</h4>

                    <h3>Before you begin</h3>
                    <p>
                        Your site needs to use the same CSS, javascript, and font resources on every page in order for shushjax to function correctly. These resources are re-used when navigating between pages. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_add_code">Add the code</h4>

                    <h3>Insert a link to shushjax in your <code>&lt;head&gt;</code></h3>
                    <p>
                        Place the shushjax script on your webserver, then add a link in the <code>&lt;head&gt;</code> of your html, like this:
<pre><code>
&lt;html&gt;
&lt;head&gt;
...
&lt;script src=&quot;/shushjax.js&quot;&gt;&lt;/script&gt;
...
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
                    </p>
                    <p><h4><button class="pure-button pure-button-primary">CDN</button> Coming Soon: Use a CDN</h4></p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_config_content">Configure content</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
                        shushjax will only replace content that you configure. Immediately below the link to the shushjax javascript file, initialize shushjax and specify options. 
<pre><code>
&lt;html&gt;
&lt;head&gt;
...
&lt;script src=&quot;/shushjax.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;shushjax.connect({'container': 'content',});&lt;/script&gt;
...
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="quick_use_partial">Go Faster</h4>

                    <h3>Optional: Use partial file support</h3>
                    <!--<div class="l-box ribbon"><h4><button class="pure-button pure-button-error"><i class="fa fa-exclamation-triangle"></i> Warning</button></h4><h4> Using partial file support is not recommended at this time because it <a href="https://github.com/Team-Pr0xy/shushjax/issues/12">can make some browsers fail to load content</a>. </h4></div>-->
                    <p>
                        Pellentesque hendrerit lobortis ornare. Fusce luctus imperdiet consequat. Nullam quis nunc quis ligula luctus vestibulum non quis libero. Suspendisse tristique nisl ut velit facilisis sit amet lobortis nulla pharetra.
                    </p>
                </div>
                <h2 id="full">Full Documentation</h2>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_core">Core Concepts</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_caveats">Caveats</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_browsers">Compatability</h4>

                    <h3>Browser support</h3>
                    <p>
                    Nearly all browsers behave as expected with shushjax, and the vast majority are able to use the performance benefits. shushjax is designed with a series of graceful fallbacks. When a browser doesn't support part of shushjax, the code disables itself and pages load normally. 
                    <h4>Support table</h4>
                    Note that the entries in this table are estimates, as shushjax has not yet been extensively tested
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Internet Explorer</th>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Safari</th>
                                <th>Opera</th>
                                <th>iOS</th>
                                <th>Android</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="unsupported">6</td>
                                <td class="seamless">4+</td>
                                <td class="seamless">2+</td>
                                <td class="seamless">3.1+</td>
                                <td class="seamless">9.0+</td>
                                <td class="seamless">3.2+</td>
                                <td class="supported">2.2+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                            </tr>
                            <tr>
                                <td class="seamless">7</td>
                                <td class="supported">5+ <i class="fa fa-check"></i></td>
                                <td class="supported">4+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                                <td class="supported">5+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                                <td class="supported">11.5+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                                <td class="supported">5+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                                <td class="seamless">3</td>
                            </tr>
                            <tr>
                                <td class="seamless">8</td>
                                <td class="supported">18+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                                <td class="supported">19+ <i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="seamless">4.0</td>
                            </tr>
                            <tr>
                                <td class="seamless">9</td>
                                <td class="supported">32+ <i class="fa fa-check"></i></td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="seamless">4.1</td>
                            </tr>
                            <tr>
                                <td class="supported">10+ <i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="supported">4.2+ <i class="fa fa-check"></i><i class="fa fa-asterisk"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Explanation of support terms</h4>
                    <ul>
                        <li><strong>Supported <i class="fa fa-check"></i></strong> shushjax works as intended</li>
                        <li><strong>Limited partial file support <i class="fa fa-asterisk"></i></strong> Partial files have limited support, but browsers will automatically fall back to loading whole pages if needed. 
                            <ul>
                                <li><strong>webkitURL()</strong> Some browsers implement URL() as webkitURL(). shushjax automatically detects and uses it instead. </li>
                                <li><strong>no URL() support</strong> Making the partial file request requires that the browser supports URL(). If not, partial file support will be automatically disabled. </li>
                            </ul></li>
                        <li><strong>Seamless fallback</strong> The functions used by shushjax are unsupported, but shushjax automatically disables itself and links load like they would without shushjax. </li>
                        <li><strong>Unsupported</strong> This browser may or may not work, but it receives no testing or bugfixes. </li>
                        <li><strong>Old versions of Internet Explorer</strong> Along with Windows XP, Internet Explorer versions 6, 7, and 8 are end-of-life as of April 8, 2014. At this time, these browsers will be officially unsupported. Although the code for them will remain and they may continue to work, they will not receive testing or bugfixes. </li>
                        <li><strong>Broken</strong> shushjax causes severe breakage</li>
                    </ul>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_setup">Setup</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_options">Options</h4>

                    <h3>Further configuration</h3>
                    <p>
                    shushjax has several options that you can specify during the initialization call, like this
                    <pre><code>&lt;script&gt;shushjax.connect({options});&lt;/script&gt;</code></pre>
                    <ul>
                        <li><strong>smartLoad</strong> <em>true|false</em> Ensure that the returned HTML is usable. Enabled by default. You can disable this for a slight performance boost if you are absolutely sure that the returned HTML is a properly formatted partial file. It's suggested that you keep this enabled so that shushjax can automatically work around problems with the returned page. 
                            <pre><code>'smartLoad': true,</code></pre>
                        </li>
                        <li><strong>useClass</strong> <em>string</em> Only activate shushjax on links with the provided class. Using this can make implementing shushjax easier on complex sites. 
                            <pre><code>'useClass': 'shushjax-enabled',</code></pre>
                        </li>
                        <li><strong>partial</strong> <em>true|false</em> Use partial file support. Disabled by default. When enabled, shushjax will load pages using partial files located under the /partials directory. 
                            <pre><code>'partial': true,</code></pre>
                        </li>
                        <li><strong>parseLinksOnload</strong> <em>true|false</em> Make links on loaded pages use shushjax. Enabled by default. 
                            <pre><code>'parseLinksOnload': true,</code></pre>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_partial">Use Partial Files</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_callbacks">Callbacks</h4>

                    <h3>Available callbacks</h3>
                    <p>
                    shushjax impliments the following callbacks:
<ul>
<li>beforeSend - Called before ajax request is made</li>
<li>complete - When ajax request has completed</li>
<li>success - When ajax request has completed successfully</li>
<li>error - When ajax request did not complet successfully (error 404/500 etc)</li>
</ul>
The callbacks are specified as part of the original shushjax.connect method:
<pre><code>shushjax.connect({
    'container': 'content',
    'beforeSend': function(){console.log("before send");},
    'complete': function(){console.log("done!");},
});</code></pre>
                    </p>
                </div>
                <div class="l-box">
                    <h4 class="content-subhead" id="full_programmatic">Programmatic Usage</h4>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
shushjax will only replace content that you configure. 
                    </p>
                </div>
            </div>

            <div class="pure-u-1-4">
<div class="pure-menu pure-menu-open pure-hidden-phone pure-hidden-tablet">
    <ul>
        <li class="pure-menu-heading"><a href="#quick">Quick Start</a></li>
        <li><a href="#quick_before">Before you begin</a></li>
        <li><a href="#quick_add_code">Add the code</a></li>
        <li><a href="#quick_config_content">Configure content</a></li>
        <li><a href="#quick_use_partial">Use partial files</a></li>
        <li class="pure-menu-heading"><a href="#full">Full Documentation</a></li>
        <li><a href="#full_core">Core concepts</a></li>
        <li><a href="#full_caveats">Caveats</a></li>
        <li><a href="#full_browsers">Browser support</a></li>
        <li><a href="#full_setup">Setup</a></li>
        <li><a href="#full_options">Options</a></li>
        <li><a href="#full_partial">Partial files</a></li>
        <li><a href="#full_callbacks">Callbacks</a></li>
        <li><a href="#full_programmatic">Programmatic Usage</a></li>
    </ul>
</div>
            </div>
        </div>

        
</div>
