<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1-4">
                <div class="l-box splash-image pure-hidden-phone pure-hidden-tablet icon">
                    <i class="fa fa-list-ol fa-15x icon"></i>
                </div>
            </div>

            <div class="pure-u-3-4">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Get started quickly
                    </h1>

                    <h2 class="splash-subhead">
Using shushjax can be as simple as adding a javascript file to your site. For even more benefits, optionally use partial file support
                    </h2>

<!--                    <p>
                        <a href="usage.html" class="pure-button pure-button-primary pure-button-xlarge">Get Started</a>
                        <a href="https://github.com" class="pure-button pure-button-xlarge">GitHub Project</a>
                    </p>-->
                </div>
            </div>
        </div>
        </div>
{% include release.html %}
<div class="pure-g-r content-ribbon">
            <div class="pure-u-3-4">
            <a href="#quick" class="content-head"><h2 id="quick" class="hash_anchor">Quick Start</h2></a>
                <div class="l-box">
                    <a href="#quick_before"><h4 class="content-subhead hash_anchor" id="quick_before">Get ready</h4></a>

                    <h3>Before you begin</h3>
                    <p>
                        Your site needs to use the same CSS, javascript, and font resources on every page in order for shushjax to function correctly. These resources are re-used when navigating between pages. 
                    </p>
                </div>
                <div class="l-box">
                    <a href="#quick_add_code"><h4 class="content-subhead hash_anchor" id="quick_add_code">Add the code</h4></a>

                    <h3>Insert a link to shushjax in your <code>&lt;head&gt;</code></h3>
                    <p>
                        <a href="https://github.com/Team-Pr0xy/shushjax/releases" class="link">Get the shushjax script</a> and place it on your webserver, then add a link in the <code>&lt;head&gt;</code> of your html, like this:
<pre><code>
&lt;html&gt;
&lt;head&gt;
...
&lt;script src=&quot;/shushjax.min.js&quot;&gt;&lt;/script&gt;
...
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
                    </p>
                    <p><h4><button class="pure-button pure-button-note">Note</button> Serve minified and gzipped for maximum performance</h4></p>
                    {% include cdn.html %}
                </div>
                <div class="l-box">
                    <a href="#quick_config_content"><h4 class="content-subhead hash_anchor" id="quick_config_content">Configure content</h4></a>

                    <h3>Tell shushjax what content to load</h3>
                    <p>
                        shushjax will only replace content that you configure. You'll need a 'container' <code>&lt;div&gt;</code> on each page, which is where shushjax will insert content from new pages. Immediately below the link to the shushjax javascript file, initialize shushjax and specify the container and any options. 
<pre><code>
&lt;html&gt;
&lt;head&gt;
...
&lt;script src=&quot;/shushjax.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;shushjax.connect({'container': 'content',});&lt;/script&gt;
...
&lt;/head&gt;
&lt;body&gt;
...
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
                    </p>
                </div>
                <div class="l-box">
                    <a href="#quick_use_partial"><h4 class="content-subhead hash_anchor" id="quick_use_partial">Go Faster</h4></a>

                    <h3>Optional: Use partial file support</h3>
                    <!--<div class="l-box ribbon"><h4><button class="pure-button pure-button-error"><i class="fa fa-exclamation-triangle"></i> Warning</button></h4><h4> Using partial file support is not recommended at this time because it <a href="https://github.com/Team-Pr0xy/shushjax/issues/12">can make some browsers fail to load content</a>. </h4></div>-->
                    <p>
                        For even faster performance, deliver partial pages to shushjax. Partial pages contain only the contents of the container div, saving bandwidth. <br>When partial page support is enabled, shushjax looks for partial pages under the <code>/partials</code> directory. For example, if the original page is located at
                        <pre><code>http://example.com/oceans/pacific.html</code></pre>
                        shushjax will look for the partial version at
                        <pre><code>http://example.com/partials/oceans/pacific.html</code></pre>
                        Once you've set up the files on your server, enable partial pages in your <code>shushjax.connect</code>
                        <pre><code>&lt;script&gt;shushjax.connect({'container': 'content', 'partial': true,});&lt;/script&gt;</code></pre>
                        <h4><button class="pure-button pure-button-note">Note</button> Keep your original files</h4>
                        The original files will still be used the first time that a browser loads a page on your site and are also used by any clients, such as search engines, that are incompatable with shushjax. 
                    </p>
                </div>
                <a href="#full" class="content-head"><h2 id="full" class="hash_anchor">Full Documentation</h2></a>
                <div class="l-box">
                    <a href="#full_core"><h4 class="content-subhead hash_anchor" id="full_core">Core Concepts</h4></a>

                    <h3>It's just ajax and pushState</h3>
                    <p>
                        shushjax is designed to make your pages load crazy fast by only loading new content and injecting it into the current CSS and layout. shushjax uses ajax and pushState to deliver a fast browsing experience with real permalinks, page titles, and a working back button. shushjax works by grabbing html from your server via ajax and replacing the content of a container on your page with the ajax'd html. It then updates the browser's current url using pushState without reloading your page's layout or any resources (js, css, fonts), giving the appearance of a fast, full page load. While AJAX-driven webapps have been around for years using some frameworks, implementing them has been complicated. By contrast, shushjax is designed as a simple drop-in solution. 
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_caveats"><h4 class="content-subhead hash_anchor" id="full_caveats">Caveats</h4></a>

                    <h3>Get started right</h3>
                    <p>
                        Using shushjax dramatically alters the way that pages and resources are loaded on your website. If something is misconfigured, breakage could occur. Remember that <strong>when navigating to a new page with shushjax, only new resources in the new container <code>&lt;div&gt;</code> will be loaded</strong>. All of the resources in other parts of the new page's HTML, such as CSS and javascript in the <code>&lt;head&gt;</code>, will not be loaded. All of the resources outside of the container <code>&lt;div&gt;</code> must remain constant across all pages of a shushjax-enabled site. 
                    </p>
                    <h4>Debugging</h4>
                    <p>
                            shushjax automatically delivers verbose logs of everything it does to your browser's javascript console. You can see which links it does and does not activate on, as well as the page loading process and fired events. <br>Types of console messages used by shushjax:
                            <ul>
                                    <li><strong style="color:red"><i class="fa fa-times-circle"></i> Error </strong>something is broken</li>
                                    <li><strong style="color:blue"><i class="fa fa-info-circle"></i> Info </strong>a fallback was activated or something unexpected happened, but shushjax recovered seamlessly</li>
                                    <li><strong><i class="fa fa-terminal"></i> log </strong>everything that happens inside shushjax</li>
                            </ul>
                    </p>
                    <h4>Other rules</h4>
                    <p>
                            When processing the links on a page, shushjax will only activate itself on links that point to <strong>exactly</strong> the same host. The URL scheme, hostname, and port must be the same as the current page, otherwise the link will load regularly. 
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_browsers"><h4 class="content-subhead hash_anchor" id="full_browsers">Compatibility</h4></a>

                    <h3>Browser support</h3>
                    <p>
                    Nearly all browsers behave as expected with shushjax, and the vast majority are able to use the performance benefits. shushjax is designed with a series of graceful fallbacks. When a browser doesn't support part of shushjax, the code disables itself and pages load normally. 
                    <h4>Fallbacks</h4>
                    <p>
                    <ul>
                            <li><strong>No Javascript</strong> links load normally, shushjax doesn't activate</li>
                            <li><strong>No pushState</strong> links load normally, shushjax pushes the browser to it directly</li>
                            <li><strong>No URL()</strong> partial file support is disabled, whole HTML files are loaded instead</li>
                            <li><strong>No XHR2</strong> the classic XMLHttpRequest is used instead</li>
                    </ul>
                    These fallbacks enable shushjax to <strong>consistently</strong> deliver a fast, working browsing experience with real permalinks, page titles, and a working back button, no matter the browser. 
                    </p>
                    <h4>Support table</h4>
                    Note that the entries in this table are estimates, as shushjax has not yet been extensively tested
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Internet Explorer</th>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Safari</th>
                                <th>Opera</th>
                                <th>iOS</th>
                                <th>Android</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="unsupported">6 <i class="fa fa-ban"></i></td>
                                <td></td>
                                <td class="seamless">2+ <i class="fa fa-check-circle-o"></i></td>
                                <td class="seamless">3.1+ <i class="fa fa-check-circle-o"></i></td>
                                <td class="seamless">9.0+ <i class="fa fa-check-circle-o"></i></td>
                                <td class="seamless">3.2+ <i class="fa fa-check-circle-o"></i></td>
                                <td class="supported">2.2+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                            </tr>
                            <tr>
                                <td class="seamless">7 <i class="fa fa-clock-o"></i> <i class="fa fa-check-circle-o"></i></td>
                                <td class="seamless">5+ <i class="fa fa-check-circle-o"></i></td>
                                <td class="supported">4+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                                <td class="supported">6+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                                <td class="supported">11.5+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                                <td class="supported">5+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                                <td class="seamless">3 <i class="fa fa-check-circle-o"></i></td>
                            </tr>
                            <tr>
                                <td class="seamless">8 <i class="fa fa-clock-o"></i> <i class="fa fa-check-circle-o"></i></td>
                                <td class="supported">18+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                                <td class="supported">19+ <i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="seamless">4.0 <i class="fa fa-check-circle-o"></i></td>
                            </tr>
                            <tr>
                                <td class="seamless">9 <i class="fa fa-check-circle-o"></i></td>
                                <td class="supported">32+ <i class="fa fa-check"></i></td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="seamless">4.1 <i class="fa fa-check-circle-o"></i></td>
                            </tr>
                            <tr>
                                <td class="supported">10+ <i class="fa fa-check"></i></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="supported">4.2+ <i class="fa fa-check"></i> <i class="fa fa-asterisk"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Explanation of support terms</h4>
                    <ul>
                        <li><strong style="color:green;">Supported <i class="fa fa-check"></i></strong> shushjax works as intended</li>
                        <li><strong>Limited partial file support <i class="fa fa-asterisk"></i></strong> Partial files have limited support, but browsers will automatically fall back to loading whole pages if needed. 
                            <ul>
                                <li><strong>webkitURL()</strong> Some browsers implement URL() as webkitURL(). shushjax automatically detects and uses it instead. </li>
                                <li><strong>no URL() support</strong> Making the partial file request requires that the browser supports URL(). If not, partial file support will be automatically disabled. </li>
                            </ul></li>
                        <li><strong style="color:gold;">Seamless fallback <i class="fa fa-check-circle-o"></i></strong> The functions used by shushjax are unsupported, but shushjax automatically disables itself and links load like they would without shushjax. </li>
                        <li><strong style="color:orange;">Unsupported <i class="fa fa-ban"></i></strong> This browser may or may not work, but it receives no testing or bugfixes. </li>
                        <li><strong>Old versions of Internet Explorer <i class="fa fa-clock-o"></i></strong> Along with Windows XP, Internet Explorer versions 6, 7, and 8 are end-of-life as of April 8, 2014. At this time, these browsers will be officially unsupported. Although the code for them will remain and they may continue to work, they will not receive testing or bugfixes. </li>
                        <li><strong style="color:red;">Broken <i class="fa fa-times"></i></strong> shushjax causes severe breakage</li>
                    </ul>
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_setup"><h4 class="content-subhead hash_anchor" id="full_setup">Setup</h4></a>

                    <h3>Installation options</h3>
                    <h4>Insert a link to shushjax in your <code>&lt;head&gt;</code></h4>
                    <p>
                        No matter how you use shushjax, you'll need to <a href="https://github.com/Team-Pr0xy/shushjax/releases" class="link">get the script</a> and place it on your webserver, then add a link in the <code>&lt;head&gt;</code> of your html:
<pre><code>&lt;script src=&quot;/shushjax.min.js&quot;&gt;&lt;/script&gt;</code></pre>
                    </p>
                    <p><h4><button class="pure-button pure-button-note">Note</button> Serve minified and gzipped for maximum performance</h4></p>
                    {% include cdn.html %}
                    <h4>Tell shushjax what content to load</h4>
                    <p>
                        shushjax will only replace content that you configure. You'll need a 'container' <code>&lt;div&gt;</code> on each page, which is where shushjax will insert content from new pages. Immediately below the link to the shushjax javascript file, initialize shushjax and specify options. 
<pre><code>&lt;script&gt;shushjax.connect();&lt;/script&gt;</code></pre>
                        When enabling shushjax, you can choose to activate on all normal links or just links with a special class. You can also specify either one container for all loaded content or use special settings on individual links. 
                    </p>
                    <h4>The container</h4>
                    <p>
                        This is where freshly loaded content gets inserted. <br> Use the global <code>container</code> setting in your <code>shushjax.connect</code>:
                        <pre><code>&lt;script&gt;shushjax.connect({container: 'content',});&lt;/script&gt;</code></pre>
                        And/ or set each link individually with the <code>data-shushjax</code> attribute:
                        <pre><code>&lt;a href='unicorns.html' data-shushjax='content'&gt;Unicorns!&lt;/a&gt;</code></pre>
                    </p>
                    <h4>Using classes</h4>
                    <p>
                            You can choose to only activate links with a specific class with the <code>useClass</code> setting:
                            <pre><code>&lt;script&gt;shushjax.connect({container: 'content', useClass: 'shushjax-enabled',});&lt;/script&gt;</code></pre>
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_options"><h4 class="content-subhead hash_anchor" id="full_options">Options</h4></a>

                    <h3>Further configuration</h3>
                    <p>
                    shushjax has several options that you can specify during the initialization call, like this
                    <pre><code>&lt;script&gt;shushjax.connect({options});&lt;/script&gt;</code></pre>
                    <ul>
                        <li><strong>container</strong> <em>string</em> The <code>&lt;div&gt;</code> where freshly loaded content gets inserted</li>
                        <pre><code>container: 'content',</code></pre>
                        <li><strong>smartLoad</strong> <em>true|false</em> Ensure that the returned HTML is usable. Enabled by default. You can disable this for a slight performance boost if you are absolutely sure that the returned HTML is a properly formatted partial file. It's suggested that you keep this enabled so that shushjax can automatically work around problems with the returned page. 
                            <pre><code>smartLoad: true,</code></pre>
                        </li>
                        <li><strong>useClass</strong> <em>string</em> Only activate shushjax on links with the provided class. Using this can make implementing shushjax easier on complex sites. 
                            <pre><code>useClass: 'shushjax-enabled',</code></pre>
                        </li>
                        <li><strong>partial</strong> <em>true|false</em> Use partial file support. Disabled by default. When enabled, shushjax will load pages using partial files located under the /partials directory. 
                            <pre><code>partial: true,</code></pre>
                        </li>
                        <li><strong>parseLinksOnload</strong> <em>true|false</em> Make links on loaded pages use shushjax. Enabled by default. 
                            <pre><code>parseLinksOnload: true,</code></pre>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_partial"><h4 class="content-subhead hash_anchor" id="full_partial">Use Partial Files</h4></a>

                    <h3>Optional: Use partial file support</h3>
                    <p>
                        You don't need to make any changes to your backend to benefit from shushjax. If you are unable to change the backend code, or simply do not want to, so long as smartLoad is enabled (which it is by default), shushjax will extract the container_divs content from the returned HTML and apply it to the current page meaning shushjax loading will still work as expected (although some of the performance gains may be lost). For even faster performance, deliver partial pages to shushjax. Partial pages contain only the contents of the container div, saving bandwidth. <br>When partial page support is enabled, shushjax looks for partial pages under the <code>/partials</code> directory. For example, if the original page is located at
                        <pre><code>http://example.com/oceans/pacific.html</code></pre>
                        shushjax will look for the partial version at
                        <pre><code>http://example.com/partials/oceans/pacific.html</code></pre>
                        Once you've set up the files on your server, enable partial pages in your <code>shushjax.connect</code>
                        <pre><code>&lt;script&gt;shushjax.connect({'container': 'content', 'partial': true,});&lt;/script&gt;</code></pre>
                        <h4><button class="pure-button pure-button-note">Note</button> Keep your original files</h4>
                        The original files will still be used the first time that a browser loads a page on your site and are also used by any clients, such as search engines, that are incompatable with shushjax. 
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_callbacks"><h4 class="content-subhead hash_anchor" id="full_callbacks">Callbacks</h4></a>

                    <h3>Available callbacks</h3>
                    <p>
                    shushjax implements the following callbacks:
<ul>
<li>beforeSend - Called before the ajax request is made</li>
<li>complete - When the ajax request has completed</li>
<li>success - When the ajax request has completed successfully. This is useful for analytics. </li>
<li>requestError - When the ajax request did not complete successfully (error 500, etc)</li>
<li>generalError - When a problem occurs elsewhere, like parsing the document</li>
</ul>
The callbacks are specified as part of the original shushjax.connect method:
<pre><code>shushjax.connect({
    container: 'content',
    beforeSend: function(){console.log("before send");},
    complete: function(){console.log("done!");},
});</code></pre>
                    </p>
                </div>
                <div class="l-box">
                    <a href="#full_programmatic"><h4 class="content-subhead hash_anchor" id="full_programmatic">Programmatic Usage</h4></a>

                    <h3>Invoke shushjax yourself</h3>
                    <p>
                        You can invoke a shushjax page load programmatically by calling the shushjax.invoke() method. At minimum the invoke method must be given a url and container attribute. It can also be provided with a title, parseLinksOnload setting and any callbacks you wish to use. 
                        <pre><code>shushjax.invoke({url:'page1.php', container: 'content',});</code></pre>
                    </p>
                </div>
            </div>

            <div class="pure-u-1-4">
<div class="pure-menu pure-menu-open pure-hidden-phone pure-hidden-tablet">
    <ul>
        <li class="pure-menu-heading"><a href="#quick">Quick Start</a></li>
        <li><a href="#quick_before">Before you begin</a></li>
        <li><a href="#quick_add_code">Add the code</a></li>
        <li><a href="#quick_config_content">Configure content</a></li>
        <li><a href="#quick_use_partial">Use partial files</a></li>
        <li class="pure-menu-heading"><a href="#full">Full Documentation</a></li>
        <li><a href="#full_core">Core concepts</a></li>
        <li><a href="#full_caveats">Caveats</a></li>
        <li><a href="#full_browsers">Browser support</a></li>
        <li><a href="#full_setup">Setup</a></li>
        <li><a href="#full_options">Options</a></li>
        <li><a href="#full_partial">Partial files</a></li>
        <li><a href="#full_callbacks">Callbacks</a></li>
        <li><a href="#full_programmatic">Programmatic Usage</a></li>
    </ul>
</div></div></div>
